@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deep-purple: #4612b4;
  --light-purple: #9071d2;
}

body::before {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;

  opacity: 40%;
  background: black;
  filter: url(#noiseFilter);
}

/* Blobs */
.blob-cont {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  left: 0;
  top: 0;
}

.blob {
  border-radius: 100%;
  filter: blur(5em);
}

.light-purple {
  /* background-color: var(--deep-purple); */
  background-color: var(--light-purple);
  opacity: 0.3;
  position: absolute;
  top: 10%;
  left: 15%;
  height: 50vw;
  width: 50vw;
  animation: light-purple 20s infinite linear;
}

.deep-purple {
  background-color: var(--deep-purple);
  opacity: 0.3;
  position: absolute;
  top: 60%;
  left: 65%;
  height: 50vw;
  width: 50vw;
  animation: deep-purple 20s infinite linear;
}

@keyframes light-purple {
  0% {
    top: 10%;
    left: 15%;
    transform: scale(0.9);
  }
  25% {
    top: 65%;
    left: 10%;
    transform: scale(1.2);
  }
  50% {
    top: 70%;
    left: 60%;
    transform: scale(1);
  }
  75% {
    top: 20%;
    left: 70%;
    transform: scale(1.3);
  }
  100% {
    top: 10%;
    left: 15%;
    transform: scale(0.9);
  }
}

@keyframes deep-purple {
  0% {
    top: 60%;
    left: 65%;
    transform: scale(1.1);
  }
  25% {
    top: 15%;
    left: 70%;
    transform: scale(0.8);
  }
  50% {
    top: 5%;
    left: 25%;
    transform: scale(1.2);
  }
  75% {
    top: 55%;
    left: 5%;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: 65%;
    transform: scale(1.1);
  }
}
