@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deep-purple: #4612b4;
  --light-purple: #9071d2;
  --accent-1: yellow;
  /* --yellow: #ffd700;
  --green: #00ff00;
  --red: #ff0000; */
}

body::before {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;

  opacity: 40%;
  background: black;
  filter: url(#noiseFilter);
}

/* Blobs */
.blob-cont {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  left: 0;
  top: 0;
}

.blob {
  border-radius: 100%;
  filter: blur(5em);
}

.light-purple {
  /* background-color: var(--deep-purple); */
  background-color: var(--light-purple);
  opacity: 0.3;
  position: absolute;
  top: 10%;
  left: 15%;
  height: 50vw;
  width: 50vw;
  animation: light-purple 20s infinite linear;
}

.deep-purple {
  background-color: var(--deep-purple);
  opacity: 0.3;
  position: absolute;
  top: 60%;
  left: 65%;
  height: 50vw;
  width: 50vw;
  animation: deep-purple 20s infinite linear;
}

@keyframes light-purple {
  0% {
    top: 10%;
    left: 15%;
    transform: scale(0.9);
  }
  25% {
    top: 65%;
    left: 10%;
    transform: scale(1.2);
  }
  50% {
    top: 70%;
    left: 60%;
    transform: scale(1);
  }
  75% {
    top: 20%;
    left: 70%;
    transform: scale(1.3);
  }
  100% {
    top: 10%;
    left: 15%;
    transform: scale(0.9);
  }
}

@keyframes deep-purple {
  0% {
    top: 60%;
    left: 65%;
    transform: scale(1.1);
  }
  25% {
    top: 15%;
    left: 70%;
    transform: scale(0.8);
  }
  50% {
    top: 5%;
    left: 25%;
    transform: scale(1.2);
  }
  75% {
    top: 55%;
    left: 5%;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: 65%;
    transform: scale(1.1);
  }
}

 .dark,
.dark-theme {
  --violet-1: #0f0e23;
  --violet-2: #151230;
  --violet-3: #251064;
  --violet-4: #340090;
  --violet-5: #3d00a4;
  --violet-6: #4613b5;
  --violet-7: #5321ce;
  --violet-8: #6326f5;
  --violet-9: #4612b4;
  --violet-10: #5526d1;
  --violet-11: #ada8ff;
  --violet-12: #ddf;

  --violet-a1: #0000f714;
  --violet-a2: #2f19fa22;
  --violet-a3: #4b0fff59;
  --violet-a4: #5200fe89;
  --violet-a5: #5900ff9e;
  --violet-a6: #5e14ffb0;
  --violet-a7: #6426ffcb;
  --violet-a8: #6627fef5;
  --violet-a9: #5f13ffaf;
  --violet-a10: #662bffce;
  --violet-a11: #ada8ff;
  --violet-a12: #ddddff;

  --violet-contrast: #fff;
  --violet-surface: #19134f80;
  --violet-indicator: #4612b4;
  --violet-track: #4612b4;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --violet-1: oklch(17.8% 0.0424 284.8);
      --violet-2: oklch(20.6% 0.0574 284.8);
      --violet-3: oklch(27.2% 0.1346 284.8);
      --violet-4: oklch(31.8% 0.2 284.8);
      --violet-5: oklch(35.8% 0.2144 284.8);
      --violet-6: oklch(39.9% 0.2192 284.8);
      --violet-7: oklch(44.8% 0.2356 284.8);
      --violet-8: oklch(50.7% 0.2709 284.8);
      --violet-9: oklch(39.7% 0.2192 284.8);
      --violet-10: oklch(45.7% 0.2356 284.8);
      --violet-11: oklch(77.6% 0.2572 284.8);
      --violet-12: oklch(91.4% 0.0822 284.8);

      --violet-a1: color(display-p3 0 0 0.9961 / 0.072);
      --violet-a2: color(display-p3 0.1647 0.102 1 / 0.122);
      --violet-a3: color(display-p3 0.2706 0.0706 1 / 0.332);
      --violet-a4: color(display-p3 0.298 0 1 / 0.509);
      --violet-a5: color(display-p3 0.3216 0 1 / 0.589);
      --violet-a6: color(display-p3 0.3451 0.102 1 / 0.66);
      --violet-a7: color(display-p3 0.3765 0.1647 1 / 0.761);
      --violet-a8: color(display-p3 0.3882 0.1765 1 / 0.921);
      --violet-a9: color(display-p3 0.349 0.098 1 / 0.656);
      --violet-a10: color(display-p3 0.3804 0.1882 1 / 0.774);
      --violet-a11: color(display-p3 0.6902 0.6745 1 / 0.975);
      --violet-a12: color(display-p3 0.8784 0.8784 1 / 0.988);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.0941 0.0706 0.2902 / 0.5);
      --violet-indicator: oklch(39.7% 0.2192 284.8);
      --violet-track: oklch(39.7% 0.2192 284.8);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(17.8% 0.0042 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.0055 277.7);
      --gray-4: oklch(28.4% 0.0075 277.7);
      --gray-5: oklch(31.4% 0.0089 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.0121 277.7);
      --gray-8: oklch(49.2% 0.0157 277.7);
      --gray-9: oklch(54% 0.0167 277.7);
      --gray-10: oklch(58.6% 0.0165 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
      --gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
      --gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
      --gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
      --gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
      --gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.9176 1 / 0.488);
      --gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0167 277.7);
      --gray-track: oklch(54% 0.0167 277.7);
    }
  }
}
